<!DOCTYPE html>

<html>

<head>

<title>Admin</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h2>Admin Panel</h2>

<hr>

<h4>Students</h4>

<ul>

{% for s in students %}

<li>{{s}}</li>

{% endfor %}

</ul>

<hr>

<h4>Results</h4>

<table class="table table-bordered">

<tr>

<th>Student</th>

<th>Score</th>

</tr>

{% for r in results %}

<tr>

<td>{{r.student}}</td>

<td>{{r.score}}</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>
