<!DOCTYPE html>
<html>
<head>
    <title>Online Examination Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5 text-center">

<h1>Online Examination Platform</h1>

<p class="lead">AWS Three-Tier Flask Application</p>

<a href="/student/login" class="btn btn-primary m-2">
Student Login
</a>

<a href="/admin" class="btn btn-dark m-2">
Admin Panel
</a>

</div>

</body>
</html>
